body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(7, 10, 153, 0.5), rgba(14, 14, 14, 0.5)), 
                url('https://images.unsplash.com/photo-1557682250-33bd709c36cf') center/cover;
}

.container {
    text-align: center;
    background: rgb(65, 38, 214);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.1);
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #03011f;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 0 #0056b3, 0 10px 15px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 5px #0056b3, 0 12px 20px rgba(0,0,0,0.3);
}

button:active {
    transform: translateY(5px);
    box-shadow: none;
}

.qr-frame {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #000000;
    display: inline-block;
    border-radius: 5px;
    background: #dbdbdb;
}

img {
    display: none;
}
